<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="optimization" type="Optimization.Configuration.OptimizationConfigSection, Optimization.Framework" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<optimization xmlns="com.optimizationzen.optimization.framework">
    <solvers>
      <solver name="Sulum" path="Reference Assemblies\Sulum\x64" />
    </solvers>
  </optimization>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Optimization.Framework" publicKeyToken="41b74c8b864fd6b1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.940.0" newVersion="0.3.940.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>